replicaCount: 2

image:
  repository: aishwarygathe/go-web-app
  pullPolicy: IfNotPresent
  tag: "21055358753"

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
